* {
    box-sizing: border-box;
    font-family: "roboto";
}

body {
    padding: 0;
    margin: 0;
}

#calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

#display {
    grid-column: 1 / -1;
    background-color: darkgray;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
}

#zero {
    grid-column: span 2;
}

button {
    border: 1px solid black;
    outline: none;
}

#clear, #sign, #percentage {
    background-color: lightgray;
}

.operator, #equals {
    background-color: #ff9500;
}

.operand, #decimal {
    background-color: lightblue;
}